
body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {

}

p {
font-family: "Montserrat-bold";
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}


.container-fluid {
  padding: 3% 15% 5%;
}




/* Navigaion Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
  z-index: 0;
}

/* Feature Section */

#features {
  padding: 5% 10%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 10%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px /*top*/ 20px /*(R&L)*/ 50px /*bottom*/;
}

/* Pricing Section */

#pricing {
  background-color: #fff;
  text-align: center;
  padding: 100px;
}

.card-body {
  padding: 1.25rem;
  min-height: 1px;
}

.pricing-column {
  padding: 4% 3%;
}

@media (max-width: 1028px) {
#title {
  text-align: center;
}

  .title-image {
    position: static;
    transform: rotate(0);

  }
}

/* Action Section */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;

}

.action-heading {
  width: 80%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 50px;
  line-height: 1.5;
  font-size: 3rem;
}

.download-button-bot {
  margin: 2% 2%;
  font-family: "Ubuntu";
}

/* Footer Section */

#footer {
  background-color: #fff;
  text-align: center;
  font-size: 0.9rem;
  padding: 7% 15%;
}

.footer-icon {
  margin: 20px 10px;

}
